<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            TAKIM
        </div>
        <div class="col-md-4">
            TARAFTAR SAYISI
        </div>
    </div>
    <div class="row" *ngFor="let item of takimlar">
        <div class="col-md-2">{{ item.takimadi}}</div>
        <div class="col-md-4"><span class="grafik" [style.width.px]="item.yuzde"></span> </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="#" class="navbar-brand">Shop App</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Products</a>
            </li>
          </ul>
        </div>
    </div>
</nav>
<!-- bu direk bar component.ts den alınma-->
<h4>Array write</h4>
<div *ngIf="products.length > 0">
<div class="card mb-3" *ngFor="let product of products">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/{{product.imageUrl}}" alt="laptop" class="img-fluid">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">{{product.price}}</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="alert alert-warning" *ngIf="products.length == 0">
    no products
</div>
<ul>
    <li *ngFor="let p of products1">{{p}}</li>
</ul>
<div *ngFor="let p of products">
<div class="card mb-3" *ngIf="product.isActive">
    <h5>product.isActive ise çalıştır</h5>
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/{{p.imageUrl}}" alt="laptop" class="img-fluid">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">{{p.description}}</p>
            </div>
        </div>
    </div>
</div>
</div>

<p class="m-5 fs-1">template kullanımı</p>
<div *ngIf="getProducts2().length>0; else noProducts">
<div *ngFor="let p of getProducts2()">
    <div class="card mb-3" *ngIf="p.isActive">
        <h5>product.isActive dir.</h5>
        <div class="row">
            <div class="col-3">
                <img src="/assets/img/{{p.imageUrl}}" alt="laptop" class="img-fluid">
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">{{p.description}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div>........................................</div>
<div *ngIf="getProducts2().length>0; else noProducts">
    <ng-template [ngTemplateOutlet]="productList2"></ng-template>
    </div>

<ng-template #productList2>
    <div class="row">
     <div *ngFor="let p of getProducts2()" class="col-3">
        <div class="card mb-3" *ngIf="p.isActive">                     
                    <img src="/assets/img/{{p.imageUrl}}" alt="laptop" class="img-fluid">              
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">{{p.description}}</p>
                    </div>
        </div>
       </div>
     </div>
</ng-template>


    
 <ng-template #noProducts>
    <div class="alert alert-warning" >
        no products
    </div>
 </ng-template>