<div class="row" style="margin-top:100px;">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">İmages</th>
            <th scope="col">#</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Processor</th>
            <th scope="col">RAM</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of mdl">
            <th scope="row"><img src="/assets/img/{{l.image}}" alt="resim" width="100px" ></th>
            <td>{{l.id}}</td>
            <td>{{l.brand}}</td>
            <td>{{l.model}}</td>
            <td>{{l.processor}}</td>
            <td>{{l.ram}}</td>
            <td>{{l.price}}</td>
            <td><button class="btn btn-primary btn-sm">Edit</button> 
                <button class="btn btn-danger btn-sm">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
